ENVIRONMENT=development
MONGO_HOST=playlistgenerator.aybqj.mongodb.net
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DATABASE=
SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=
SPOTIPY_REDIRECT_URI=http://127.0.0.1:5000/authenticate