apiVersion: v1
kind: Namespace
metadata:
  name: generate-playlist
---
apiVersion: v1
kind: Secret
metadata:
  name: generate-playlist-secret
  namespace: generate-playlist
type: Opaque
stringData:
  SPOTIPY_CLIENT_ID: "your_spotify_client_id"
  SPOTIPY_CLIENT_SECRET: "your_spotify_client_secret"
  SPOTIPY_REDIRECT_URI: "https://your-domain.example.com/authenticate"
  PLAYLIST_ID: "your_spotify_playlist_id"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: generate-playlist
  namespace: generate-playlist
spec:
  replicas: 1
  selector:
    matchLabels:
      app: generate-playlist
  template:
    metadata:
      labels:
        app: generate-playlist
    spec:
      containers:
      - name: generate-playlist
        image: ghcr.io/stevendejongnl/generate-playlist:latest
        ports:
          - containerPort: 5000
        envFrom:
          - secretRef:
              name: generate-playlist-secret
---
apiVersion: v1
kind: Service
metadata:
  name: generate-playlist-service
  namespace: generate-playlist
spec:
  selector:
    app: generate-playlist
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: generate-playlist-nginx
  namespace: generate-playlist
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
spec:
  ingressClassName: nginx
  rules:
  - host: your-domain.example.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: generate-playlist-service
            port:
              number: 80
